{% extends 'app_base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
	<h1>Settings</h1>
	<p>We do our best to secure all sensitive information.</p>
	<p>Your API keys and your customers' email addresses are all encrypted when at rest in our databases.</p>

	<hr>

	{{ form(form) }}

	<hr>

	<h2>Account actions</h2>
	<div class="notice warning">The account actions below are immediate and cannot be undone. Please be careful.</div>
	<a href="{{ path("delete_account") }}" class="button danger">Delete this magicrr account</a>
	<!--a href="{{ path("delete_account") }}" class="button danger">Reset ChartMogul data source</a-->
{% endblock %}
