{% extends 'base.html.twig' %}

{% block title %}Check your email!{% endblock %}

{% block body %}
	<div class="container small">
		<div id="logo-wrapper">
			<a href="/">
				<img src="{{ asset("images/logo.png") }}" alt="magicrr" height="100">
			</a>
		</div>

		<div class="card">
			<h1>Check your email!</h1>
			<p>You should receive your ✨ <i>magic link</i> ✨ momentarily!</p>

			<p>Didn't receive an email? No worries: go back to <a href="{{ path('login') }}">login</a> and try again!</p>
		</div>
	</div>
{% endblock %}
