{% extends 'base.html.twig' %}

{% block body %}
	<div class="container small">
		<div id="logo-wrapper">
			<a href="/">
				<img src="{{ asset("images/logo.png") }}" alt="saasync" height="100">
			</a>
		</div>

		<div class="card">
			<marquee direction="down" behavior="alternate" style="width: 100%; height: min(300px, 20vh);">
				<marquee behavior="alternate">
					<h1 style="display: inline-block;">ERROR</h1>
				</marquee>
			</marquee>
			<p>Something feels... wrong.</p>
			<p>Perhaps this page doesn't exist. Perhaps you're not allowed to be here. Perhaps we broke something.</p>
			<p>Your best bet would be to retreat to safety:</p>
			<br>

			<p class="text-center">
				<a href="{{ path("login") }}" class="button">Go home</a>
			</p>
		</div>
	</div>
{% endblock %}
